*{
    margin: 0;
    box-sizing: border-box;
  }

body{
    background: url("../images/brick.jpg");
  }

.turtle-image {
    width: 250px;
    height: 250px;
    padding-left: 10px;
    padding-right: 10px;
  }